/* line 1, /Users/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

/* line 6, /Users/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.anchor-nolink {
  pointer-events: none;
}

/* line 9, /Users/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
}

/* line 15, /Users/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.footer {
  border-top: 1px solid #888;
  color: #888;
  text-align: center;
  font-style: italic;
  margin-top: 2.5em;
}

/* line 23, /Users/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.navbar {
  border-radius: 0px;
}

/* line 27, /Users/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.parallax {
  background-image: url(/assets/san_diego-be4960c90534e170ba440a41aa33f7723bef6b9a18582339b802efe2bafc42b0.jpg);
  min-height: 288px;
  background-repeat: no-repeat;
  margin-left: -500px;
  margin-right: -500px;
  margin-top: -24px;
}

/* line 37, /Users/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.sponsor-logo {
  height: 40px;
}

/* line 41, /Users/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

/* line 45, /Users/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.oc-photo {
  height: 140px;
  width: 140px;
  border: 1px solid #aaa;
}

/* line 51, /Users/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.oc-name {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 4px;
  width: 140px;
}

/* line 61, /Users/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.oc-cell {
  padding-bottom: 8px;
  padding-top: 8px;
}

/* line 66, /Users/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.oc-container {
  margin-right: 4px;
  margin-left: 4px;
}

/* line 71, /Users/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
#jumbotron-title {
  text-align: center;
}

/* line 75, /Users/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
#main-content {
  margin-top: 5em;
}
