/* line 1, /home/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

/* line 6, /home/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.anchor-nolink {
  pointer-events: none;
}

/* line 9, /home/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
}

/* line 15, /home/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.footer {
  border-top: 1px solid #888;
  color: #888;
  text-align: center;
  font-style: italic;
  margin-top: 2.5em;
}

/* line 23, /home/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.navbar {
  border-radius: 0px;
}

/* line 27, /home/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.parallax {
  background-image: url(/assets/san_diego-be4960c90534e170ba440a41aa33f7723bef6b9a18582339b802efe2bafc42b0.jpg);
  min-height: 288px;
  background-repeat: no-repeat;
  margin-left: -500px;
  margin-right: -500px;
  margin-top: -24px;
}

/* line 37, /home/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.sponsor-container {
  height: 80px;
}

/* line 41, /home/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.sponsor-logo {
  max-height: 64px;
  max-width: 150px;
  margin: 8px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 50, /home/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

/* line 54, /home/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.oc-photo {
  height: 140px;
  width: 140px;
  border: 1px solid #aaa;
}

/* line 60, /home/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.oc-name {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 4px;
  width: 140px;
}

/* line 70, /home/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.oc-cell {
  padding-bottom: 8px;
  padding-top: 8px;
}

/* line 75, /home/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.oc-container {
  margin-right: 4px;
  margin-left: 4px;
}

/* line 80, /home/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.date-due {
  color: red;
  font-weight: bold;
}

/* line 85, /home/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.date-today-highlight {
  background-color: #d9534f;
  color: white;
  font-style: italic;
}

/* line 91, /home/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
.date-notified {
  color: white;
  font-weight: bold;
  background-color: green;
}

/* line 97, /home/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
#jumbotron-title {
  text-align: center;
}

/* line 101, /home/gbudiman/Documents/icme2018/app/assets/stylesheets/main.css.scss */
#main-content {
  margin-top: 5em;
}
