- items = { author_info: 'Author Information and Submission Instructions', author_camera_ready: 'Camrea-ready Submission', author_presentation_guide: 'Presentation Guidelines'}

- add_class = items[params[:action].to_sym] ? 'active' : ''

= render 'menu_dropdown', add_class: add_class, items: items, title: title

