- items = { paper: 'Call for Papers', workshop: 'Call for Workshops', tutorial: 'Call for Tutorials', special_session: 'Call for Special Session', panel: 'Call for Panels',demo: 'Call for Demonstrations', expo: 'Call for Hands-on Expo', grand_challenge: 'Call for Grand Challenges', student_participation: 'Call for Student Program Participation', industry_track_papers: 'Call for Industry Track Papers', sponsorship: 'Call for Sponsorship', presentation: 'Call for Presentation of T-MM Papers' }

- add_class = items[params[:action].to_sym] ? 'active' : ''

= render 'menu_dropdown', add_class: add_class, items: items, title:title

