- items = { paper: 'Papers', workshop: 'Workshops', tutorial: 'Tutorials', special_session: 'Special Session', panel: 'Panels', demo: 'Demonstrations', grand_challenge: 'Grand Challenges' }

- add_class = items[params[:action].to_sym] ? 'active' : ''
- title = 'Calls'

= render 'menu_dropdown', add_class: add_class, items: items, title: title

