:ruby
  if !target.is_a?(Array)
    target = [target]
  end

- if not defined?(override)
  %h3 Important Dates
  
%ul
  - target.each_with_index do |t, i|
    - data = DateHelper::get spec: t
    %li 
      = defined?(override) ? override[i] : data[:title] 
      - if data[:type] != :nopropose
        proposal 
      submission deadline: #{data[:proposal]}
    - if data[:notification]
      %li 
        = data[:title]
        - if data[:type] != :nopropose
          proposal 
        acceptance notification: #{data[:notification]}