
%h1 Accommodations

%div{class: 'col-xs-12 col-md-6'}
	%div{class: 'panel panel-default'}
		%div{class: 'panel-body'}
			%address
				%strong Hyatt Regency La Jolla at Aventine - CONFERENCE HOTEL
				%br
				%a{href: 'https://goo.gl/maps/E2s6ezAP5G82', target: '_gmaps'} 
					3777 La Jolla Village Drive, San Diego, CA 92122
					%span{class: 'glyphicon glyphicon-new-window'}
				%br
				Phone: (858) 552-1234
				%br
				%a{href: 'https://www.hyatt.com/en-US/hotel/california/hyatt-regency-la-jolla-at-aventine/jolla', target: '_blank'} 
					Website
					%span{class: 'glyphicon glyphicon-new-window'}

			Amenities:
			%ul
				%li Complimentary high-speed Internet
				%li Daily $30 Self Parking / $40 Valet Parking (including in/out privileges)
				%li Heated Pool / Spa / 24/7 Fitness Center / Tennis Courts
				%li Dry cleaning / laundry services
				%li Hotel restaurant delivery service
				%li Self-service business center

%div{class: 'col-xs-12 col-md-6'}
	%div{class: 'panel panel-default'}
		%div{class: 'panel-body'}
			%address
				%strong Embassy Suites La Jolla by Hilton
				%br
				%a{href: 'https://goo.gl/maps/TkLwrPK5zLG2', target: '_gmaps'} 
					4550 La Jolla Village Dr, San Diego, CA, 92122
					%span{class: 'glyphicon glyphicon-new-window'}
				%br
				Phone: (858) 453-0400
				%br
				%a{href: 'http://embassysuites3.hilton.com/en/index.html', target: '_blank'} 
					Website
					%span{class: 'glyphicon glyphicon-new-window'}

			Amenities:
			%ul
				%li High-speed wireless and wired Internet
				%li Daily $31 Self Parking
				%li Indoor Swimming Pool / Hot Tub / Fitness Center / Dry Sauna
				%li Complimentary Breakfast
				%li Car Rental Desk
				%li Business Center / On-Site Convenience Store

%div{class: 'row'}
%div{class: 'col-xs-12 col-md-6'}
	%div{class: 'panel panel-default'}
		%div{class: 'panel-body'}
			%address
				%strong Estancia La Jolla
				%br
				%a{href: 'https://goo.gl/maps/4VWKt8CLQ692', target: '_gmaps'} 
					9700 N Torrey Pines Rd, La Jolla, CA 92037
					%span{class: 'glyphicon glyphicon-new-window'}
				%br
				Phone: (858) 550-1000
				%br
				%a{href: 'http://meritagecollection.com/estancialajolla/', target: '_blank'} 
					Website
					%span{class: 'glyphicon glyphicon-new-window'}

			Amenities:
			%ul
				%li High-speed wired and wireless Internet
				%li Daily $20 Self Parking / $25 Valet Parking
				%li Heated Saltwater Pool / Whirlpool / Spa / Fitness Center
				%li Dry cleaning / laundry services
				%li Complimentary shuttle service to any point of interest within 5 miles
				%li Electric bike rentals

%div{class: 'col-xs-12 col-md-6'}
	%div{class: 'panel panel-default'}
		%div{class: 'panel-body'}
			%address
				%strong Hilton La Jolla Torrey Pines
				%br
				%a{href: 'https://goo.gl/maps/sztioWGuUWG2', target: '_gmaps'} 
					10950 N Torrey Pines Road, La Jolla, CA 92037
					%span{class: 'glyphicon glyphicon-new-window'}
				%br
				Phone: (858) 558-1500
				%br
				%a{href: 'http://www.lajollatorreypines.hilton.com', target: '_blank'} 
					Website
					%span{class: 'glyphicon glyphicon-new-window'}

			Amenities:
			%ul
				%li High-speed wireless Internet
				%li Daily $31 Self Parking / $41 Valet Parking
				%li Pool / Fitness Room / Sundeck / Tennis Court
				%li Laundry Service
				%li Business Center / On-Site Convenience Store
				%li Guest Activity / Recreation Desk

%div{class: 'row'}
%div{class: 'col-xs-12 col-md-6'}
	%div{class: 'panel panel-default'}
		%div{class: 'panel-body'}
			%address
				%strong Hotel La Jolla, Curio Collection by Hilton
				%br
				%a{href: 'https://goo.gl/maps/9ppZwXvAcsr', target: '_gmaps'} 
					7955 La Jolla Shores Drive La Jolla, CA 92037
					%span{class: 'glyphicon glyphicon-new-window'}
				%br
				Phone: (858) 459-0261
				%br
				%a{href: 'http://www.hotellajolla.com/', target: '_blank'} 
					Website
					%span{class: 'glyphicon glyphicon-new-window'}

			Amenities:
			%ul
				%li High-speed wireless Internet
				%li Daily $37 Valet Parking (No Self Parking)
				%li Heated Pool / 24/7 Fitness Facility
				%li Complimentary daily newspaper
				%li Business Center
				%li “Forgot It? We’ve Got It!” travel essentials

%div{class: 'col-xs-12 col-md-6'}
	%div{class: 'panel panel-default'}
		%div{class: 'panel-body'}
			%address
				%strong The Lodge at Torrey Pines
				%br
				%a{href: 'https://goo.gl/maps/AhkAzWzRXet', target: '_gmaps'} 
					11480 N Torrey Pines Rd, La Jolla, CA 92037
					%span{class: 'glyphicon glyphicon-new-window'}
				%br
				Phone: (858) 453-4420
				%br
				%a{href: 'https://www.lodgetorreypines.com/', target: '_blank'} 
					Website
					%span{class: 'glyphicon glyphicon-new-window'}

			Amenities:
			%ul
				%li Complimentary high-speed wireless Internet
				%li Daily $30 Self Parking / $35 Valet Parking
				%li Outdoor Pool / Fitness Center / Torrey Pines Golf Course
				%li Dry cleaning / laundry services
				%li Complimentary daily newspaper
				%li 24/7 Business Center

%div{class: 'row'}
%div{class: 'col-xs-12 col-md-6'}
	%div{class: 'panel panel-default'}
		%div{class: 'panel-body'}
			%address
				%strong Residence Inn by Marriott San Diego La Jolla
				%br
				%a{href: 'https://goo.gl/maps/3bUNCz6o8TQ2', target: '_gmaps'} 
					8901 Gilman Drive, La Jolla CA 92037
					%span{class: 'glyphicon glyphicon-new-window'}
				%br
				Phone: (858) 587-1770
				%br
				%a{href: 'http://www.marriott.com/LAJCA', target: '_blank'} 
					Website
					%span{class: 'glyphicon glyphicon-new-window'}

			Amenities:
			%ul
				%li Complimentary high-speed wireless Internet
				%li Daily $18 Self-Parking
				%li Outdoor Pool / Whirlpool / Fitness Center
				%li Complimentary Breakfast
				%li Guest rooms with fully equipped kitchens
				%li Complimentary “Residence Inn Mix” - evening socials - Mon-Wed with light fare and beer/wine

%div{class: 'col-xs-12 col-md-6'}
	%div{class: 'panel panel-default'}
		%div{class: 'panel-body'}
			%address
				%strong Sheraton La Jolla
				%br
				%a{href: 'https://goo.gl/maps/KzkCeJ1svXu', target: '_gmaps'} 
					3299 Holiday Court, La Jolla, CA 92037
					%span{class: 'glyphicon glyphicon-new-window'}
				%br
				Phone: (858) 453-5500
				%br
				%a{href: 'http://www.sheratonlajolla.com/', target: '_blank'} 
					Website
					%span{class: 'glyphicon glyphicon-new-window'}

			Amenities:
			%ul
				%li High-speed wireless Internet
				%li Daily $20 Self Parking / Valet Service
				%li Heated Pool / Fitness Center
				%li Dry cleaning / laundry services
				%li Car Rental Service
				%li Mini fridge and microwaves in all guestrooms
