%div{class: 'col-xs-12'}
  %h1 San Diego Attractions

  %p
    Please refer to 
    %a{href: 'https://lajolla.regency.hyatt.com/en/hotel/home.html', target: '_hotelinfo'} 
      Hyatt Regency La Jolla
      %span{class: 'glyphicon glyphicon-new-window'}
    page for extensive list of local attractions.