
%h1 Camera-ready Submission

%h3 General Information
%ul
  %li ICME 2018 requires authors to submit the title, list of authors, a brief abstract of about 100 to 150 words for each camera-ready paper.
  %li Make sure that the abstract, authors' names and affiliations in the submission system are identical to that shown in the camera-ready paper.
  %li Authors are required to use the new Camera-Ready Templates.

%h3 Requirements
%ul
  %li Regular, Special Session, and Workshop papers must be no longer than 6 pages, including all text, figures, and references. Demo, Industry Track, and Grand Challenge papers are limited to 1, 4, and 4 pages, respectively.  All papers MUST be formatted according to the Camera-Ready Templates given in Microsoft Word or LaTeX.
  %li 
    Regular and Special Session Papers must be submitted by
    %strong= DateHelper.get(spec: :camera_regular)[:proposal]
    \. Demo, Industry Track, Grand Challenge, and Workshop papers must be submitted by
    %strong= DateHelper.get(spec: :camera_demo)[:proposal]
    \. There will be no exceptions.
  %li Accepted papers MUST be presented at the conference by one of the authors. Under extraordinary unplanned circumstances, a qualified substitute may present on the authors’ behalf, with the technical program chairs’ permission. The presenter MUST register for the conference at one of the non-student rates offered, and MUST register before the deadline given for author registration. Failure to register before the deadline will result in automatic withdrawal of your paper from the conference proceedings and program.

%h3 Preparation of the Paper and Submission
%h4 Document Formatting
%ul
  %li All submissions must be in letter-sized PDF.
  %li All fonts and subsets must be embedded. Times New Roman font is strongly encouraged.
  %li Detailed examples about the paper format using LaTeX and Microsoft Word are available in this Guidelines.

%h4 Camera-Ready Templates

%p 
  The following style files and templates are available for users of LaTeX and Microsoft Word:
  %ul
    %li 
      Example submission with detailed instructions:
      %a{href: "/camera-ready_icme2018template.pdf"} camera-ready_icme2018template.pdf
    %li 
      Microsoft Word template:
      %a{href: "/camera-ready_icme2018template.doc"} camera-ready_icme2018template.doc
    %li 
      Latex template (zip file):
      %a{href: "/camera-ready_icme2018template.zip"} camera-ready_icme2018template.zip

%p We recommend that you use the Word file or LaTeX files to produce your document, since they have been set up to meet the formatting guidelines listed above. When using these files, double-check the paper size in your page setup to make sure you are using the letter-size paper layout (8.5 inch X 11 inch). The LaTeX environment files specify suitable margins, page layout, text, and a bibliography style.

%p In particular, with LaTeX, there are cases where the top-margin of the resulting Postscript or PDF file does not meet the specified parameters. In this case, you may need to add a \topmargin=0mm command just after the \begin{document} command in your .tex file. The spacing of the top margin is not critical, as the page contents will be adjusted on the proceedings. The critical dimensions are the actual width and height of the page content.

%p
  The following copyright clearance code notice is to appear on the bottom of the first page of each paper:
  %ul
    %li papers in which all authors are employed by the US government: U.S. Government work not protected by U.S. copyright
    %li papers in which all authors are employed by a Crown government (UK, Canada, and Australia): 978-1-5386-1737-3/18/$31.00 ©2018 Crown
    %li papers in which all authors are employed by the European Union: 978-1-5386-1737-3/18/$31.00 ©2018 European Union
    %li all other papers: 978-1-5386-1737-3/18/$31.00 ©2018 IEEE

%h4 IEEE Xplore Compliance Using PDF eXpress
%ul
  %li All camera-ready submissions MUST be checked for IEEE eXplore compliance before submission to the ICME 2018 website.
  %li 
    To check whether your PDF file is IEEE Xplore-compatible, please use the  at 
    %a{href: 'http://www.pdf-express.org'} PDF eXpress service.
    Please log on using the following Conference IDs: 
    %ul
      %li 41493XP (for regular and special session paper submissions)
      %li 43155XP (for demo, industry track, grand challenge, and workshop paper submissions)
  %li You can also use PDF eXpress to convert your source file(s) to IEEE Xplore-compatible PDF.
  %li ICME 2018 will NOT accept camera-ready papers that are not IEEE Xplore-compatible.

%h4 Electronic Paper Submission
%ul
  %li 
    When you have your document file ready, gather the following information before entering the submission system:
    %ul
      %li Document file in PDF format
      %li Affiliation, email address, and mailing address for each author
      %li Paper title
      %li Text file containing paper abstract text, in ASCII text format (for copying and pasting into web page form)

  %li For regular and special session papers, the filename MUST be in the form of “paper_id.pdf”. For demo, industry track, grand challenge, and workshop papers, please add ‘W’ before the paper ID. That is, demo, industry track, grand challenge, and workshop papers with paper ID 100 should be written as W100.
  %li All authors must be entered in the online form, and must appear in the online form in the same order in which the authors appear on the PDF.
  %li Only PDFs that are verified or generated by IEEE PDF eXpress can be accepted as camera-ready manuscripts and updated to for REGULAR AND SPECIAL SESSION PAPERS or for DEMO, INDUSTRY TRACK, GRAND CHALLENGE, AND WORKSHOP PAPERS.

%h4 Copyright 
%ul
  %li 
    Electronic copyright forms are to be submitted to IEEE, by clicking on the “Submit copyright” in
    %a{href: '/copyright'} IEEE Copyright Submission
    \.
    A pdf copy of the copyright form needs to be uploaded back to 
    %a{href: 'https://cmt3.research.microsoft.com/User/Login?ReturnUrl=%2FICME2018W'} CMT for Workshop
    or
    %a{href: 'https://cmt3.research.microsoft.com/User/Login?ReturnUrl=%2FICME2018'} CMT for Regular Submissions.
  %li Failure to do so will render the paper inadmissible for publication in IEEE Xplore, and the paper will subsequently be removed from the proceedings.