%div{class: 'col-xs-12'}
  %h1 Presentation Guidelines


  %h3 Oral Presentation Guidelines

  %p Each full paper in an oral session is allocated 20 minutes. This includes time for questions from the audience, session-chair introductions and any setup that is not completed in advance. For an effective presentation, organize your slides around the points you intend to make and do not use more than one slide per minute. Be prepared to begin your presentation as soon as the prior presenter has finished; it is important to keep on schedule.

  %p Your presentation should preferably be uploaded to the PC (MS Windows OS) in the session room in advance. Both PDF and PPT file formats are supported with preference for PDF to avoid font issues. Alternatively, you can use your own laptop. A VGA connection will be available in each lecture room; you must bring your own adaptor if your laptop does not have VGA plug. It is recommended to test the presentation materials, e.g. video and audio, as well as your laptop in advance of the session to ensure compatibility. It is also a good idea to have your presentation material on a memory stick as a backup even if you plan to use your own laptop. Each room will have volunteers that can help to provide technical support.

  %p Presenters are requested to be present in the room at least 10 minutes before the start of their session to introduce themselves to the session chair.

  %h3 Poster Presentation Guidelines

  %p Authors must attend to their poster during the entire sessions and be available to discuss their paper with attendees. If possible, more than one author should attend the session to assist with presentations and discussions, and provide co-authors with the chance to rest or briefly view other posters. Posters boards will be provided for each paper with dimensions 8 feet (width) x 4 feet (height).

  %p In each poster session, papers are assigned a poster ID. Please setup your poster at the appropriate location according to the poster ID before your session starts, and take it down immediately after your session ends. Prepare a short presentation of about 5 minutes or less that you can periodically give to those assembled around your poster throughout the poster session. If you need extra presentation materials, such as a video display or computer, please bring them yourself; note that any equipment used in the poster area should be battery-operated since power will not be provided at the poster stations.

  %h3 Demo Presentation Guidelines

  %p The presenter must be stationed by his/her demo, show the demonstration, and answer questions from the attendees. The presenters should report to the session chair 10 minutes before the session and setup their demos. All demos must be dismantled immediately after the demo session.

  %p All demo stations will be provided with a small table, poster board with the same dimension as for the poster presentations, Internet access (conference Wi-Fi only) and a power outlet (120V 60Hz with US power plug). Demonstrators are required to bring their own computing equipment and any additional hardware needed for the demonstration (unless otherwise arranged in advance with the demo/local chairs).
