
%h1 Student Program
3MT Competition, Tuesday July 24th, 18:40-19:40, AVENTINE C Room  
%br
Join us for the following Student Career Dinner, Tuesday July 24th, 19:40, VICINO BALLROOM & ASTERIA TERRACE
%hr
%table{class: 'table table-bordered table-hover table-striped'}
  %thead
    %tr
      %th Paper ID
      %th 3MT Paper Title
      %th Author Name, Institution
  %tbody
    %tr
      %td 171
      %td Video Compression using CIE L*a*b* Color Space
      %td Samruddhi Kahu, Visvesvaraya National Institute of Technology, Nagpur
    %tr
      %td 172
      %td Autonomous Multimedia Mobile Applications
      %td Francisco Javier Velazquez-Garcia, University of Oslo
    %tr
      %td 173
      %td Integration of Graphic QR Code and Identity Documents by Laser Perforation to Enhance  Multiple Anti-Counterfeiting Features
      %td Chia Tsen Sun,  National Taiwan Normal Universit
    %tr
      %td 174
      %td Video Transmission Over Underwater Acoustics Channels
      %td Rana Hegazy, UCSD
    %tr
      %td 177
      %td TransIM: Transfer Image Local Statistics Across EOTFs for HDR Image Applications
      %td Bihan Wen, University of Illinois at Urbana-Champaign
    %tr
      %td 180
      %td Real or Fake Images: Attacking and Reinforcing the Machine Learning Systems
      %td Huy Nguyen, SOKENDAI
    %tr
      %td 182
      %td Perceptual​ ​QoE​ ​Modeling​ ​and​ ​Optimization​ for​ HTTP​ Video​ Streaming
      %td Nagabhushan Eswara, Indian Institute of Technology Hyderabad
    %tr
      %td 183
      %td Head Pose Estimation in Naturalistic Environments
      %td Sumit Jha, The University of Texas at Dallas
 