
%h1 Special Sessions

%ol
	%li 
		%strong Big Data Analytics: from Social Media to Physical Media
		%p Organizers: Jenq-Neng Hwang, Caili Guo
 
	%li 
		%strong Deep Metric Learning for Multimedia Computing
		%p Organizers: Jiwen Lu, Xiuzhuang Zhou
 
	%li 
		%strong Artificial intelligence for Multimedia Networking and Systems
		%p Organizers: Han Hu, Nikolaos Thomos, Kenji Kanai
 
	%li 
		%strong Point Cloud Compression
		%p Organizers: Zhu Li, Euee S. Jang, Rufael Mekuria, Gary Li
 
	%li 
		%strong Human Activity Analytics: Benchmark, Algorithms, and Applications
		%p Organizers: Jiaying Liu and Xiaoyan Sun

	%li
		%strong Multimedia Edge Computing
		%p Organizers: Lifeng Sun, Jianwei Huang