%h1 Keynotes

The ICME 2018 will feature excellent keynote speakers.

%h2 Keynote Title: Multi-modal Fusion for Robust Intelligent Systems
%h4 Henrik I Christensen (IEEE/AAAS Fellow)
%h4 Qualcomm Chancellor’s Chair, UC San Diego, USA
%h4 Time: 8:30-9:30AM, Thursday, July 26, 2018
%h4 Abstract
%p 
	As we deploy smart systems in everyday environments, there is a need to ensure these systems operate robustly. Industrial automation systems typically have an MTBF which is measured in months. For intelligent vehicles, we need to reach systems that do not require driver engagement every hour, and for home appliances, the engagement cannot be every day. How can we build such systems? We design systems for industrial, service and logistics applications. Using techniques from statistical learning, reliability engineering and multi-model fusion it is possible to architect systems that have a high degree of availability and robustness to environmental changes. In this presentation we will discuss applications from industrial automation, autonomously driving cars and home automation and show how careful systems engineerings enablesa new level of robustness.
%h4 Biography
%img{src: "#{asset_path('photos/Henrik Christensen.jpg')}", class: 'keynote-bio'}
%p
	Henrik Christensen is the director of the Contextual Robotics Institute and a professor of Computer Science and Engineering at UC San Diego. Prior to San Diego he was the director of robotics at Georgia Tech (2006-2016). Prior to this he was a professor of computer science at the Swedish Royal Institute of Technology 1998-2006. He was also the director of the Swedish Center for Autonomous Systems 1996-2006. During the same period he was the founder and coordinator of the European Network of Excellence in Robotics, which involved more than 190 universities and companies across all European member states. He was an associate professor of robotics and computer vision at Aalborg University 1992-1996. Henrik I Christensen received his first degree in Mechanical Engineering from the Technical College of Frederikshavn, 1981. He subsequently worked at MAN B&W on control systems designs. He earned M.Sc. and Ph.D. degrees in Electrical Engineering from Aalborg University, Denmark 1987 and 1989, respectively.

%p
	Dr. Christensen does research on a systems approach to sensor-based robotics. The research must have a solid theoretical foundation, an efficient implementation and be evaluated in realistic contexts. Consequently, the emphasis is on “real systems for real applications”. The research has been published in more than 350 contributions across robotics, computer vision and artificial intelligence. The research has been recognized by numerous awards including best paper awards, the Joseph Engelberger Award (the highest honor by the robotics industry), and the Boeing Supplier of the Year Award 2011. He received an honorary doctorate from Aalborg University 2015. Dr. Christensen was the coordinator of the formulation of the US National Roadmaps for Robotics 2009, 2013 and 2016. The roadmaps were presented to the US Congress. He has graduated 29 PhD students and more than 60 M.Sc. students that today occupy positions at universities and companies across 3 continents. 

%p 
	Dr. Christensen is the co-founder of five companies and he currently serves on the board of Blue-Ocean Robotics and Robo Global. He also serves as a consultant to a number of companies and agencies across 3 continents.
%div{style: 'clear: both'}
%hr
%h2 Keynote Title: Machine Learning for Content Creation
%h4 Cristina Gomila
%h4 CTO & Head of Research and Innovation, Technicolor, France)
%h4 Time: 8:30-9:30AM, Tuesday, July 24, 2018
%h4 Abstract:
%p
	From the time Technicolor pioneered the introduction of color motion picture processes, the film industry has been the focus of some major technical disruptions. The emergence of digital formats and digital workflows changed the post-production business in the late 90’s, and ultimately the way content was captured, edited and rendered. Yet in the years to come, the pervasive use of data by machine and deep learning algorithms, coupled with the massive use of cloud services for storage and processing, has the potential to disrupt the film industry in unprecedented ways. Working in close collaboration with leading post-production and VFX artists and technologists, we have selected set of topics for discussion that we believe have the greatest potential. In particular, we will present the impact of data-driven media computing in (1) VFX workflows optimization to ease the coordination of hundreds of artists jointly delivering assets in complex projects, (2) media production tools optimization to speed up non-creative tasks such as rotoscoping, face modeling and certain aspects of animation and (3) new creative tools enabling a full range of new services.      

%p Through this keynote, we will consider whether deep learning and data-driven mediacomputing will be able to replicate the genius and skills of human artists, with the potential to disrupt the film industry beyond imaged.
%h4 Biography:
%img{src: "#{asset_path('photos/Gomila Cristina.jpg')}", class: 'keynote-bio'}
%p Cristina Gomila is Head of Research & Innovation since 2014, and Chief Technology Officer and member of the Executive Committee since 2016.
%p She joined Technicolor in 2002 and has spent most of her career in the USA moving into different positions for strategy and management of R&D engineering teams with a focus on Consumer Electronics and Media &amp; Entertainment markets.
%p Cristina Gomila holds an MS degree in Telecom Engineering from the UPC (Spain) and a PhD degree from Mines ParisTech (France). Additionally, she has authored more than 60 granted patents  with inventions actively leveraged in patent pools and licensing programs ; 44 contributions to standards (AVC, SVC, MVC) in MPEG/JVT/VCEG, BDA and DVD Forum ; 31 publications in journals and edited conference proceedings in the field of image processing.
%div{style: 'clear: both'}
%hr
%h2 Keynote Title: Human-centered Media Informatics
%h4 Shrikanth Narayanan (IEEE/AAAS/ASA/ISCA/NAI Fellow)
%h4 Niki & C. L. Max Nikias Chair, University of Southern California, USA
%h4 Time: 8:30-9:30AM, Wednesday, July 25, 2018
%h4 Abstract:
%p
	The explosion in the creation and dissemination of media content in different forms and through different platforms, and the richness and variety therein, has created a huge	need for computational technologies not just to support access and interaction with content but in creating tools for objectively understanding, and predicting, the impact of content on people, both individuals and society at large. These include content produced more formally for entertainment, commerce and news as well as user-generated ones. The reach of media today is global, and its impact is as diverse and heterogeneous as the content.

%p 
	Advances in data sciences, notably in machine learning and human-driven computing such as crowd based methods-- as well as the converging trends between computing and social and behavioral sciences-- are enabling rich media content analytics of what stories are being told, and how they are being told including their affective aspects and are beginning to illuminate objectively their potential socio-emotional and decision making impact on people.

%p
	This talk will focus on the opportunities and advances in human-centered mediainformatics drawing examples from media for entertainment (e.g., movies) and commerce (e.g., advertisements). It will highlight multimodal processing of audio, video and text streams and other metadata associated with the content creation to provide insights into the semantic and emotional aspects including any potential human-centered trends and patterns such as unconscious biases along dimensions such as gender, race and age, as well as associated social and commercial impact relatable to content.
%h4 Biography
%img{src: "#{asset_path('photos/Shrikanth Narayanan.jpg')}", class: 'keynote-bio'}
%p
	Shrikanth (Shri) Narayanan is the Niki &amp; C. L. Max Nikias Chair in Engineering at the University of Southern California, where he is Professor of Electrical Engineering, and jointly in Computer Science, Linguistics, Psychology, Neuroscience and Pediatrics, Director of the USC Ming Hsieh Institute and a Research Director for the USC Information Sciences Institute. Prior to USC he was with AT&T Bell Labs and AT&T Research. His research focuses on human-centered information processing and communication technologies. He is a Fellow of the Acoustical Society of America, IEEE, ISCA, the American Association for the Advancement of Science and the National Academy of Inventors. Shri Narayanan is Editor in Chief for IEEE Journal of Selected Topics in Signal Processing and an Editor for the Computer, Speech and Language Journal and an Associate Editor for the APISPA Transactions on Signal and Information Processing having previously served an Associate Editor for the IEEE Transactions of Speech and Audio Processing (2000-2004), the IEEE Signal Processing Magazine (2005-2008), the IEEE Transactions on Signal and Information Processing over Networks (2014-2015), IEEE Transactions on Multimedia (2008-2012), the IEEE Transactions on Affective Computing, and the Journal of Acoustical Society of America.

%p
	He is a recipient of several honors including the 2015 Engineers Council’s Distinguished Educator Award, a Mellon award for mentoring excellence, the 2005 and 2009 Best Journal Paper awards from the IEEE Signal Processing Society and serving as its Distinguished Lecturer for 2010-11, as an ISCA Distinguished Lecturer for 2015-16 and the 2017 Willard R. Zemlin Memorial Lecturer for ASHA. With his students, he has received several best paper awards including a 2014 Ten-year Technical Impact Award from ACM ICMI and a six-time winner of the Interspeech Challenges. He has published over 750 papers and has been granted 17 U.S. patents.

= render 'chairs', target: :plenary