
%h1 Awards

%p Dear Friends,

%p
	We are writing to report to you that IEEE ICME 2018 in San Diego offered the World’s FIRST 
	%strong 10K Best Paper Award 
	to promote research advances in the general Multimedia related areas: Text, Graphics, Vision, Image, Video, Audio, Speech, Sensing data, and their mining, learning, processing, compression, communications, rendering and associated innovations and applications. One (1) Diamond Award and Six (6) Platinum Awards were given to recognize the best papers in these fields.

%p Besides the cash awards, we will publicize the outcome to recognize these Award winners via magazines, journals, newsletters, and social network channels. We highly encourage you to submit your best papers to compete for these prestigious Awards. The deadline for paper submission is December 1, 2017.

%p 
	C.-C. Jay Kuo, Truong Nguyen and Wenjun Zeng
	%br
	Conference Co-Chair, IEEE ICME 2018