
%h1 Demonstrations

%p 
  Time: 17:00 - 19:00, July 25 2018
  %br
  Location: Vicino Ballroom
  %br
  Papers:
  %ul
    %li 
      Dehazing With a See-Through Near-Eye Display
      %br
      Kuang-Tsu Shih, Kai-En Lin, Homer Chen*
    %li
      Radiometric Temperature-Based Pedestrian Detection for 24 Hour Surveillance
      %br
      Sungho Kim*, Taehwan Kim
    %li
      Harnessing Smartphone Users' Contribution for Virtual Tour Construction
      %br
      Chi Xu*, Qiao Chen, Jiangchuan Liu, Zhi Wang, Yueming Hu
    %li
      Adversarial Generation of Defensive Trajectories in Basketball Games
      %br
      Chieh-Yu Chen, Wenze Lai, Hsin-Ying Hsieh, Yu-Shuen Wang*, Wen-Hsiao Peng, Jung-Hong Chuang
    %li
      Augmented Reality Sandpit Simulating Ant Colonies
      %br
      Lachlan Smith, Jon McCormack, Zixiang Xiong*
    %li
      Eye Tracking-Based 360 VR Foveated/Tiled Video Rendering
      %br
      Hyunwook Kim, Eun-Seok Ryu*, Woochool Park