
%h1 Tutorial

%table{class: 'table'}
	%thead
		%tr
			%th Topic
			%th Speakers
	%tbody
		%tr
			%td
				%a{href: "#{asset_path('docs/Delivering Traditional and Omnidirectional Media.docx')}" } Delivering Traditional and Omnidirectional Media
			%td
				Ali C. Begen (Ozyegin University)
				%br
				Liangping Ma (InterDigital, Inc.)
				%br
				Christian Timmerer (Institute of Information Technology (ITEC))
		%tr
			%td
				%a{href: "#{asset_path('docs/Interactive Augmented Reality with Meta 2.docx')}" } Interactive Augmented Reality with Meta 2
			%td
				Kari Pulli, Charles Niu, Paulo Jansen (Meta Co.)
		%tr
			%td
				%a{href: "#{asset_path('docs/Multimedia and Language.docx')}" } Multimedia and Language: Bridging Multimedia and Natural Language with Deep Learning
			%td
				Tao Mei (Microsoft Research, China)
				%br
				Jiebo Luo (University of Rochester, USA)
		%tr
			%td
				%a{href: "#{asset_path('docs/Trends and Recent Developments in Video Coding Standardization.docx')}" } Trends and Recent Developments in Video Coding Standardization
			%td
				Jens-Rainer Ohm, Mathias Wien (RWTH Aachen University)