
%h1 Awards

%p Dear Friends,

%p
	We are writing to report to you that IEEE ICME 2018 in San Diego offered the World’s FIRST 
	%strong 10K Best Paper Award 
	to promote research advances in the general Multimedia related areas: Text, Graphics, Vision, Image, Video, Audio, Speech, Sensing data, and their mining, learning, processing, compression, communications, rendering and associated innovations and applications. One (1) Diamond Award and Six (6) Platinum Awards were given to recognize the best papers in these fields.

%p Besides the cash awards, we will publicize the outcome to recognize these Award winners via magazines, journals, newsletters, and social network channels. We highly encourage you to submit your best papers to compete for these prestigious Awards. The deadline for paper submission is December 1, 2017.

%p 
	C.-C. Jay Kuo, Truong Nguyen and Wenjun Zeng
	%br
	Conference Co-Chair, IEEE ICME 2018


%hr
%p
	%h3 ICME 2018 Best Papers Awards
	%ul
		%li
			%div{class: 'best-papers'}
				%h4 ICME 2018 Diamond Best Paper Award
				%div{class: 'title'} Social-guided Representation Learning for Images via Deep Heterogeneous Hypergraph Embedding
				%div{class: 'author'} Yunfei Chu, Chunyan Feng, Caili Guo
				
				%div{class: 'affil'} Beijing University of Posts and Telecommunications
		%li
			%div{class: 'best-papers'}
				%h4 ICME 2018 Platinum Best Paper Award
				%div{class: 'title'} Essay-Anchor Attentive Multi-Modal Bilinear Pooling for Textbook Question Answering
				%div{class: 'author'} Juzheng Li, Hang Su, Jun Zhu, Bo Zhang
				%div{class: 'affil'} Tsinghua University, China

				%div{class: 'title'} Deep Point Convolutional Approach for 3D Model Retrieval
				%div{class: 'author'} 
					Zhenzhong Kuang
					%sup 1
					, Jun Yu
					%sup 1
					, Jianping Fan
					%sup 2
					, Min Tan
					%sup 1
				
				%div{class: 'affil'}
					%sup 1
					Hangzhou Dianzi University, China

				%div{class: 'affil'} 
					%sup 2
					University of North Carolina, Charlotte

				%div{class: 'title'} Rank-Consistency Multi-Label Deep Hashing
				%div{class: 'author'} Cheng Ma, Zhixiang Chen, Jiwen Lu, Jie Zhou
				%div{class: 'affil'} Tsinghua University, China
	
				%div{class: 'title'} Hybrid Noise for LIC-based Pencil Hatching Simulation
				%div{class: 'author'} Qunye Kong, Yun Sheng, Guixu Zhang
				%div{class: 'affil'} East China Normal University, China

				%div{class: 'title'} Content-Related Spatial Regularization for Visual Object Tracking
				%div{class: 'author'} Ruize Han, Qing Guo, Wei Feng
				%div{class: 'affil'} Tianjin University, China

				%div{class: 'title'} Continuity-Discrimination Convolutional Neural Network for Visual Object Tracking
				%div{class: 'author'} Shen Li, Bingpeng Ma , Hong Chang , Shiguang Shan , Xilin Chen
				%div{class: 'affil'} Chinese Academy of Sciences
%p
	%h3 ICME 2018 Best Student Papers Award
	%ul
		%li
			%div{class: 'best-papers'}
				%div{class: 'title'} Accurate Image Super-Resolution Using Cascaded Multi-Column Convolutional Neural Networks
				%div{class: 'author'} Yuan Shuai, Yongfang Wang, Ye Peng, Yumeng Xia 
				%div{class: 'affil'} Shanghai University, China

	%h3 ICME 2018 Best Student Papers Award Runner-Up
	%ul
		%li
			%div{class: 'best-papers'}
				%div{class: 'title'} Co-Saliency Detection via Hierarchical Consistency Measure
				%div{class: 'author'} Yonghua Zhang, Liang Li, Runmin Cong, Xiaojie Guo, Hui Xu, Jiawan Zhang
				%div{class: 'affil'} Tianjin University, China

	%ul
		%li
			%div{class: 'best-papers'}
				%div{class: 'title'} Co-Referenced Subspace Clustering
				%div{class: 'author'} 
					Xiaobo Wang
					%sup 1
					, Zhen Lei
					%sup 1
					, Hailin Shi
					%sup 1
					, Xiaojie Guo
					%sup 2
					, Xiangyu Zhu
					%sup 1
					, Stan Z. Li
					%sup 1
				%div{class: 'affil'} 
					%sup 1
					Chinese Academy of Sciences
				%div{class: 'affil'} 
					%sup 2
					Tianjin University, China

%p
	%h3 ICME 2018 Best Demo Papers Award
	%ul
		%li
			%div{class: 'best-papers'}
				%div{class: 'title'} Augmented Reality Sandpit Simulating Ant Colonies
				%div{class: 'author'} Lachlan Smith, Jon McCormack, Zixiang Xiong 
				%div{class: 'affil'} Monash University
		%li
			%div{class: 'best-papers'}
				%div{class: 'title'} Dehazing With a See-Through Near-Eye Display
				%div{class: 'author'} Kuang-Tsu Shih, Kai-En Lin, Homer Chen 
				%div{class: 'affil'} National Taiwan University


%hr
%p
	%h3 Previous conference (ICME 2017) 10K Best Paper Award

%p{class: 'row'}
	%img{class: 'col-xs-12', src: "#{asset_path('10K_Award_Poster.jpg')}"}