
%h1 Schedule


%a{href: '/icme2018_program_guide.pdf'}
  %div{class: 'alert alert-warning text-center', style: 'padding: 32px'}
    %div{class: 'glyphicon glyphicon-book', style: 'font-size: 64px'}
    %div{style: 'font-size: 24px'} Download Program Guide