%h1 Contributing Volunteers

On behalf of the TPC co-chairs, we would like to acknowledge the following 43 top reviewers for ICME 2018. These reviewers have been identified by the area chairs and TPC co-chairs, out of 548 reviewers in total, so this is a top 8% group.


%h3 List of Area Chairs
%hr

%div{class: 'col-xs-12 col-sm-6'}
  %ul{style: 'margin-bottom: 0'}
    %li
      Pradeep Atrey
      %br
      %i State University of New York at Albany, USA
    %li
      Ivan Bajic
      %br
      %i Simon Fraser University, Canada
    %li
      Liangliang Cao
      %br
      %i Hello Vera, USA
    %li
      Zhenzhong Chen
      %br
      %i Wuhan University, China
    %li
      Cunjian Chen
      %br
      %i Michigan State University, USA
    %li
      Wen-Huang Cheng
      %br
      %i Academia Sinica, Taiwan
    %li
      Ngai-Man Cheung
      %br
      %i Singapore University of Technology and Design, Singapore
    %li
      Samson Cheung
      %br
      %i University of Kentucky, USA
    %li
      Lingyu Duan
      %br
      %i Peking University, China
    %li
      Frederic Dufaux
      %br
      %i CNRS (National Center for Scientific Research), France
    %li
      Abdulmotaleb El Saddik
      %br
      %i University of Ottawa, Canada
    %li
      Yuming Fang
      %br
      %i JiangXi University of Finance and Economics, China
    %li
      Lu Fang
      %br
      %i Tsinghua University, China
    %li
      Yue Gao
      %br
      %i Tsinghua University, China
    %li
      Jing-Ming Guo
      %br
      %i National Taiwan University of Science and Technology, Taiwan
    %li
      Wenbo He
      %br
      %i McMaster University, Canada
    %li
      Steven Hoi
      %br
      %i Singapore Management University, Singapore
    %li
      Wolfgang Hürst
      %br
      %i Utrecht University, Netherlands
    %li
      Jenq-Neng Hwang
      %br
      %i University of Washington, Seattle, USA
    %li
      Jia Jia
      %br
      %i Tsinghua University, China
    %li
      André Kaup
      %br
      %i Friedrich-Alexander University Erlangen-Nürnberg, Germany
    %li
      Chang-Su Kim
      %br
      %i Korea University, Korea
    %li
      Patrick Le Callet
      %br
      %i Université de Nantes, France
    %li
      Zhu Li
      %br
      %i University of Missouri, Kansas City, USA
    %li
      Wanqing Li
      %br
      %i University of Wollongong, Australia
    %li
      Houqiang Li
      %br
      %i University of Science and Technology of China, China
    %li
      Weiyao Lin
      %br
      %i Shanghai Jiaotong University, China
%div{class: 'col-xs-12 col-sm-6'}
  %ul
    
    %li
      Jiaying Liu
      %br
      %i Peking University, China
    %li
      Chun-Shien Lu
      %br
      %i Academia Sinica, Taiwan
    %li
      Jiwen Lu
      %br
      %i Tsinghua University, China
    %li
      Siwei Ma
      %br
      %i Peking University, China
    %li
      Tao Mei
      %br
      %i JD.com, China
    %li
      Marta Mrak
      %br
      %i British Broadcasting Corporation, United Kingdom
    %li
      Wen-Hsiao Peng
      %br
      %i National Chiao Tung University, Taiwan
    %li
      Balakrishnan Prabhakaran
      %br
      %i University of Texas, Dallas, USA
    %li
      Xinzhu Sang
      %br
      %i Beijing University of Posts and Telecommunications, China
    %li
      Ju Shen
      %br
      %i University of Dayton, USA
    %li
      Leonel Sousa
      %br
      %i Universidade de Lisboa, Portugal
    %li
      Jelena Tešić
      %br
      %i Texas State University, USA
    %li
      Yonghong Tian
      %br
      %i Peking University, China
    %li
      Qi Tian
      %br
      %i University of Texas, San Antonio, USA
    %li
      Yan Tong
      %br
      %i University of South Carolina, USA
    %li
      Sotirios Tsaftaris
      %br
      %i University of Edinburgh, UK
    %li
      Mathias Wien
      %br
      %i RWTH Aachen University, Germany
    %li
      Wenxian Yang
      %br
      %i Institute for Infocomm Research, Singapore
    %li
      Ting Yao
      %br
      %i Microsoft Research, China
    %li
      Rongshan Yu
      %br
      %i Xiamen University, China
    %li
      Lei Zhang
      %br
      %i Microsoft Research, USA
    %li
      Cha Zhang
      %br
      %i Microsoft Research, USA
    %li
      Xiao-Ping Zhang
      %br
      %i Ryerson University, Canada
    %li
      Yao Zhao
      %br
      %i Beijing Jiaotong University, China
    %li
      Ce Zhu
      %br
      %i University of Electronic Science and Technology of China, China
    %li
      Fengqing Zhu
      %br
      %i Purdue University, USA


%div{class: 'row'}
%h3 List of Top Reviewers
%hr 
%div{class: 'col-xs-12 col-sm-6'}
  %ul{style: 'margin-bottom: 0'}
    %li Velibor Adzic
    %li Pedro Assuncao
    %li Werner Bailer
    %li Ivan Bajic
    %li Erik Bochinski
    %li Catarina Brites
    %li Francine Chen
    %li Wen-Huang Cheng
    %li Yung-Yu Chuang
    %li Shaoyi Du
    %li Yueqi Duan
    %li Rodrigo Laiola Guimaraes
    %li Jungong Han
    %li Xingtong Han
    %li Shintami Hidayati
    %li Kai-Lung Hua
    %li Jan Koloda
    %li Chen-Yu Lee
    %li Dalton Lin
    %li Weiyao Lin
    %li Ping Liu
    %li Jing Liu
    
%div{class: 'col-xs-12 col-sm-6'}
  %ul
    %li Yucheng Liu
    %li Enrique Sanchez-Lozano
    %li Jiwen Lu
    %li Ryan Lustig
    %li Yan-Tsung Peng
    %li Fernando Pereira
    %li Georges Quenot
    %li Bappaditya Ray
    %li Mei-Ling Shyu
    %li Qing Song
    %li Jiande Sun
    %li Zheng Tang
    %li Yonghong Tian
    %li Gaoang Wang
    %li Hongxing Wang
    %li Jianfeng Wang
    %li Junliang Xing
    %li Yi-Hsuan Yang
    %li Yun Ye
    %li Atsuo Yoshitaka
    %li H. Vicky Zhao