%h1 Contributing Volunteers

On behalf of the TPC co-chairs, we would like to acknowledge the following 43 top reviewers for ICME 2018. These reviewers have been identified by the area chairs and TPC co-chairs, out of 548 reviewers in total, so this is a top 8% group.


%h3 List of Area Chairs
%hr

%ul
  %li
    Pradeep Atrey
    State University of New York at Albany, USA
  %li
    Ivan Bajic
    Simon Fraser University, Canada
  %li
    Liangliang Cao
    Hello Vera, USA
  %li
    Zhenzhong Chen
    Wuhan University, China
  %li
    Cunjian Chen
    Michigan State University, USA
  %li
    Wen-Huang Cheng
    Academia Sinica, Taiwan
  %li
    Ngai-Man Cheung
    Singapore University of Technology and Design, Singapore
  %li
    Samson Cheung
    University of Kentucky, USA
  %li
    Lingyu Duan
    Peking University, China
  %li
    Frederic Dufaux
    CNRS (National Center for Scientific Research), France
  %li
    Abdulmotaleb El Saddik
    University of Ottawa, Canada
  %li
    Yuming Fang
    JiangXi University of Finance and Economics, China
  %li
    Lu Fang
    Tsinghua University, China
  %li
    Yue Gao
    Tsinghua University, China
  %li
    Jing-Ming Guo
    National Taiwan University of Science and Technology, Taiwan
  %li
    Wenbo He
    McMaster University, Canada
  %li
    Steven Hoi
    Singapore Management University, Singapore
  %li
    Wolfgang Hürst
    Utrecht University, Netherlands
  %li
    Jenq-Neng Hwang
    University of Washington, Seattle, USA
  %li
    Jia Jia
    Tsinghua University, China
  %li
    André Kaup
    Friedrich-Alexander University Erlangen-Nürnberg, Germany
  %li
    Chang-Su Kim
    Korea University, Korea
  %li
    Patrick Le Callet
    Université de Nantes, France
  %li
    Zhu Li
    University of Missouri, Kansas City, USA
  %li
    Wanqing Li
    University of Wollongong, Australia
  %li
    Houqiang Li
    University of Science and Technology of China, China
  %li
    Weiyao Lin
    Shanghai Jiaotong University, China
  %li
    Jiaying Liu
    Peking University, China
  %li
    Chun-Shien Lu
    Academia Sinica, Taiwan
  %li
    Jiwen Lu
    Tsinghua University, China
  %li
    Siwei Ma
    Peking University, China
  %li
    Tao Mei
    JD.com, China
  %li
    Marta Mrak
    British Broadcasting Corporation, United Kingdom
  %li
    Wen-Hsiao Peng
    National Chiao Tung University, Taiwan
  %li
    Balakrishnan Prabhakaran
    University of Texas, Dallas, USA
  %li
    Xinzhu Sang
    Beijing University of Posts and Telecommunications, China
  %li
    Ju Shen
    University of Dayton, USA
  %li
    Leonel Sousa
    Universidade de Lisboa, Portugal
  %li
    Jelena Tešić
    Texas State University, USA
  %li
    Yonghong Tian
    Peking University, China
  %li
    Qi Tian
    University of Texas, San Antonio, USA
  %li
    Yan Tong
    University of South Carolina, USA
  %li
    Sotirios Tsaftaris
    University of Edinburgh, UK
  %li
    Mathias Wien
    RWTH Aachen University, Germany
  %li
    Wenxian Yang
    Institute for Infocomm Research, Singapore
  %li
    Ting Yao
    Microsoft Research, China
  %li
    Rongshan Yu
    Xiamen University, China
  %li
    Lei Zhang
    Microsoft Research, USA
  %li
    Cha Zhang
    Microsoft Research, USA
  %li
    Xiao-Ping Zhang
    Ryerson University, Canada
  %li
    Yao Zhao
    Beijing Jiaotong University, China
  %li
    Ce Zhu
    University of Electronic Science and Technology of China, China
  %li
    Fengqing Zhu
    Purdue University, USA



%h3 List of Top Reviewers
%hr 
%div{class: 'col-xs-12 col-sm-6'}
  %ul{style: 'margin-bottom: 0'}
    %li Velibor Adzic
    %li Pedro Assuncao
    %li Werner Bailer
    %li Ivan Bajic
    %li Erik Bochinski
    %li Catarina Brites
    %li Francine Chen
    %li Wen-Huang Cheng
    %li Yung-Yu Chuang
    %li Shaoyi Du
    %li Yueqi Duan
    %li Rodrigo Laiola Guimaraes
    %li Jungong Han
    %li Xingtong Han
    %li Shintami Hidayati
    %li Kai-Lung Hua
    %li Jan Koloda
    %li Chen-Yu Lee
    %li Dalton Lin
    %li Weiyao Lin
    %li Ping Liu
    %li Jing Liu
    
%div{class: 'col-xs-12 col-sm-6'}
  %ul
    %li Yucheng Liu
    %li Enrique Sanchez-Lozano
    %li Jiwen Lu
    %li Ryan Lustig
    %li Yan-Tsung Peng
    %li Fernando Pereira
    %li Georges Quenot
    %li Bappaditya Ray
    %li Mei-Ling Shyu
    %li Qing Song
    %li Jiande Sun
    %li Zheng Tang
    %li Yonghong Tian
    %li Gaoang Wang
    %li Hongxing Wang
    %li Jianfeng Wang
    %li Junliang Xing
    %li Yi-Hsuan Yang
    %li Yun Ye
    %li Atsuo Yoshitaka
    %li H. Vicky Zhao