%div{class: 'col-xs-12'}
  %h1 Call for Demonstrations
  %p The IEEE International Conference on Multimedia & Expo (ICME) has been the flagship multimedia conference sponsored by four IEEE societies since 2000.

  %p The goal of the Demo Papers Program is to promote applied research and applications along with the Expo Program, as well as facilitate collaborations between industrial and academic members of the multimedia community.

  %p Authors are invited to submit a one-page demo paper. Topics of interest span all ICME 2016 areas. The paper is expected to describe the technology being demonstrated, the equipment that will be used for the demonstration and the demonstration experience. Demo submission can be accompanied with multimedia attachments of up to 10 MB.

  %p Electronic submissions will be accepted through the CMT online system. Please refer to the submission link at the conference website for detailed instruction. Note that accepted demo papers and any supplementary multimedia attachments will only be included in the USB Proceedings (with a dedicated ISBN) and not appear in IEEE Xplore.

  %p We particularly encourage demonstrations of papers that have been accepted to the main conference or have been submitted to one of the dedicated workshops. Such demo papers must include the paper ID of the associated conference or workshop paper, respectively.

  %p Accepted demo papers must be registered and presented at the conference; otherwise they will not be included in the USB Proceedings. The registration of a corresponding paper in the main program or workshop will cover the registration of the demo paper.

  %p A best demo award will be selected and recognized during the conference. 

  = render 'deadline', target: [:demo_paper, :camera_demo]
  = render 'chairs', target: :demo_expo