
%h1 Call for Hands-on Expo

%p Multimedia has become a big differentiator in various aspects of the industry. Due to its wide application in products, multimedia has changed the way people perceive products and what they want to find in them in the future. The goal of the industry expo at the International Conference on Multimedia and Expo (ICME) 2018 is to provide the opportunity for startup companies as well as industry leaders to demo and showcase their current technologies. The companies can take advantage of the occasion and show the conference attendees how to think outside the box in developing innovative technologies and products.

%p At ICME 2018, we will provide the companies an atmosphere so that ideas can be exchanged with entrepreneurs, academians, students and other demo exhibitors. ICME 2018 will take place at Hyatt regency La Jolla and will have over 1000 submissions and over 500 technical presentations. The industry expo session at ICME 2018 will co-locate with the poster technical presentations area and run throughout the whole conference duration. In addition, companies participating in the industry expo will be given primary booth locations. This will provide them a unique opportunity for networking, recruiting and exchanging ideas.

%p Platinum and Gold level sponsors can take part in the expo at no additional fees. All other companies including Silver and Bronze level sponsors need to pay a fee of $1500 to participate in the expo. More information about the sponsorship can be found on the call for sponsorship page. The availability of booth locations and sizes for the industry expo will be assigned on a “first come, first serve” basis. The availability will also depend on the sponsorship level of the company. This means, if a company joins the industry expo at ICME 2018, they will be guaranteed a better location booth and size on a first come first serve basis.

%p To participate in the expo, please fill in the registration form and send it to Michel Sarkis at msarkis@qti.qualcomm.com before the deadline of May 31, 2018.

%h3 Registration

%table{class: 'table table-striped table-bordered'}
  %tbody
    %tr
      %td{colspan: 2, class: 'col-xs-4'} Company Name
      %td
    %tr
      %td{colspan: 3} 
        %strong Contact Information
    %tr
      %td{class: 'col-xs-1'}
      %td Name
      %td
    %tr
      %td{class: 'col-xs-1'}
      %td Email
      %td
    %tr
      %td{class: 'col-xs-1'}
      %td Phone
      %td

= render 'deadline', target: [:expo_demo_reg]
= render 'chairs', target: :demo_expo

%h3 Useful Links
%ul
  %li
    %a{href: '/sponsorship'} Call for Sponsorship