%div{class: 'col-xs-12'}
  %h1 Call for Hands-on Expo

  %p The Hands-On Expo is an exciting new program element being introduced at ICME 2016. The Hands-On Expo brings companies that have ground breaking new media-related products together with world class multimedia researchers and technologists, to give the latter a hands-on experience of the products and a deeper understanding of the technologies behind the products and how to use them. From the perspective of the companies, this is an opportunity to develop strong ties (and eventually sales) through key technical influencers, while from the perspective of the attendees, this is an opportunity to get hands-on experience and technical information from the creators themselves about breakthrough products in their area of expertise.

  %p 
    A blend of workshop, tutorial, demo, and industry expo, a Hands-On Expo session focuses on a coherent product, set of products, or product technology, is lead by one or more technical representatives of a company, and ideally includes the following components: 
    %ol 
      %li A presentation of the technology behind the product
      %li A demo of the product
      %li Hands-on time for the attendee
      %li A tutorial on how to use it, possibly including how to download an SDK and program to it. Attendees of the session would then be in a position to use the product as part of their research, develop for a dev kit, etc.

  %p We are offering invited companies any of three formats. The first option is a 2-3 hour workshop/tutorial session during one of our workshop/tutorial days. The second possibility is an all-day booth on one of the main conference days. Third is a 1.5 hour lunch slot on any of the main conference days. In the latter case, if the company were to provide box lunches (up to some limit) it would be a great way to increase participation.

  %p 
    There will be no additional fee for workshop or conference attendees to attend a Hands-On Expo session. Nor will there be a fee for companies to present, as the Hands-On Expo is considered part of the technical program. If a company wishes to pursue broader marketing or recruitment, it is encouraged to sign up for the 
    %a{href: '/sponsorship'} Sponsorship program
    \. Nevertheless, a company is encouraged to let attendees of its Hands-On Expo know how to obtain their product after the conference. 