
%h1 Schedule
%table{class: 'table table-hover'}
  %thead
    %tr
      %th{class: 'col-xs-4 text-center'} Date
      %th{class: 'col-xs-8 text-center'} Event
  %tbody
    - DateHelper::get_sorted().each do |d|
      %tr
        - if d[:affix] == :highlight_today
          %td{class: 'date-today-highlight'}
            = d[:date].strftime('%B %d, %Y')
          %td{class: 'date-today-highlight'} <<< Today >>>
        - else
          %td= d[:date].strftime('%B %d, %Y')
          %td
            = d[:title]
            - if d[:affix] == :due
              %span{class: 'date-due'} Due
            - elsif d[:affix] == :notification
              %span{class: 'date-notification'} Notification
            - elsif d[:affix] == :registration
              %span Registration

            - if d[:notified]
              %span{class: 'date-notified'} &nbsp; *** NOTIFIED *** &nbsp;

            - if d[:extended]
              %span{class: 'date-extended'} 
                &nbsp; (Extended
                = d[:extended].strftime('%B %d, %Y')
                )&nbsp;
              
                
