%div{class: 'parallax'}
%div{class: 'col-xs-12'}
  %div{id: 'jumbotron-title'}
    %div{class: 'h1'} IEEE International Conference on Multimedia and Expo (ICME) 2018
    %div{class: 'h3'} July 23-27, 2018
    %div{class: 'h3'} San Diego, USA

  %hr 
  %p The IEEE International Conference on Multimedia & Expo (ICME) has been the multimedia conference sponsored by four IEEE societies since 2000. It serves as a forum to promote the exchange of the latest advances in multimedia technologies, systems, and applications from both the research and development perspectives of the circuits and systems, communications, computer, and signal processing communities. An exposition of multimedia products, animations and industries will be held in conjunction with the conference. The theme of the 2018 conference will be “Data-driven Media Computing”, which plays a key role in modern multimedia technologies.

  %p 
    ICME 2018 will showcase high quality oral and poster presentations and demonstration sessions. It will also feature IEEE societies sponsored Workshops. We welcome researchers, developers and practitioners to organize Workshops on various new emerging topics. Industrial exhibitions are held in conjunction with the main conference. Proposals for
    %a{href: '/tutorial'}Tutorials
    , 
    %a{href: '/special_session'}Special Sessions
    , and 
    %a{href: '/expo'}Demos 
    are also invited. 

  %p The conference will select and recognize one diamond and six platinum awards by following the10K Best paper awards established by the ICME Steering Committee in 2017. Several other awards sponsored by industry and institutions will also be offered. Accepted papers have to be registered and presented; otherwise, they will not be included in the IEEE Xplore Library.

  %ul
    %li
      %a{href: '/paper'} Call for Papers
    %li
      %a{href: '/important_dates'} Schedule
    %li
      %a{href: '/sponsors'} Sponsors

= javascript_include_tag 'layout_helper'