
%h1 Call for Industry/Application Track Papers

%a{href: '/icme2018_program_guide.pdf'}
	%div{class: 'alert alert-warning text-center', style: 'padding: 32px'}
		%div{class: 'glyphicon glyphicon-book', style: 'font-size: 64px'}
		%div{style: 'font-size: 24px'} Download Program Guide
		
%p The IEEE International Conference on Multimedia & Expo (ICME) has been the flagship multimedia conference sponsored by four IEEE societies since 2000. The Industry Program of ICME 2018 will bring together participants from academia and industry in a venue that highlights practical and real-world aspects of multimedia-related research. Geared toward facilitating collaborations between industrial and academic members of the multimedia community and promoting applied research and applications, the Industry Program aims to organize a series of industry talks, panel discussions, and technical papers detailing applied research and applications relevant to the scope of ICME.

%p 
	Authors are invited to submit short technical papers no longer than 4 pages. Industry/application short papers will be reviewed following the same procedure as workshop papers, where novelty, presentation quality and experimental validation will be considered. Only electronic submissions will be accepted through the 
	%a{href: 'https://cmt3.research.microsoft.com/User/Login?ReturnUrl=%2FICME2018W'} CMT 
	online system under the “Industry Track”. Accepted papers must be registered and presented at the conference; otherwise they will not be included in IEEE Xplore. Author can find the list of topics of interest as published on 
	%a{href: 'http://www.icme2018.org/paper'} http://www.icme2018.org/paper.
= render 'deadline', target: [:industry_track, :industry_track_cr]
= render 'chairs', target: :industrial_program
