
%h1 Call for Industry Track Papers

%p The IEEE International Conference on Multimedia & Expo (ICME) has been the flagship multimedia conference sponsored by four IEEE societies since 2000. The industry program of ICME 2018 will bring together participants from academia and industry in a venue that highlights practical and real-world aspects of multimedia-related research. Geared toward facilitating collaborations between industrial and academic members of the multimedia community, the industry program aims to organize a series of industry talks, demos, panel discussions, and technical papers detailing industrial research activities relevant to the scope of ICME.

%h3 Call for Industry Track Papers
%p 
  The industry program also solicits technical papers submissions to the industry track, including papers associated with an accepted Industry Forum or technical papers from industry members addressing the practice and applications of multimedia. Technical papers should not be longer than 4 pages and will be reviewed following the same procedure as workshop papers, where novelty, presentation quality and experimental validation will be considered. Only electronic submissions will be accepted through the 
  %a{href: 'https://cmt3.research.microsoft.com/ICME2018W', target: '_cmt'}CMT 
  online system under the “Industry Track”. Accepted papers must be registered and presented at the conference; otherwise they will not be included in IEEE Xplore. A selection of top industry track papers will be presented in a lecture session, all other accepted industry track papers will be presented in a poster session

= render 'deadline', target: [:industry_track, :industry_track_cr]
= render 'chairs', target: :industrial_program
