%div{class: 'col-xs-12'}
  %h1 NSF Student Travel Support

  %h3 Purpose

  %p 
    ICME2018 is organizing a student program as part of the main conference program, to provide an effective and inexpensive way of encouraging junior researchers in multimedia research. The specific goals of the student program are the following:
    %ul
      %li To provide a setting for face-to-face interaction and feedback on student participants’ current research and constructive guidance on their future research directions;
      %li To promote networking among Ph.D. students working in the related area;
      %li To develop a supportive community of scholars and a spirit of collaborative research;
      %li To support a new generation of researchers with information and advice on academic, research, industrial, and non-traditional career paths; and
      %li To contribute to the conference goals through interactions with other researchers and participations in conference events.

    The NSF travel support will encourage students enrolled in Ph.D. programs in the U.S. to attend the conference and participate in the student program, helping them get timely feedback from world-class experts in the field.

  %h3 Funding

  %p ICME2018 is pleased to announce that NSF will provide a total of $16,000 to support the travel and participation of 10 students enrolled in Ph.D. programs in the U.S. to attend ICME2018. Each student will receive up to $1,500 travel award, which includes partial flat airfare, three nights of hotel plus some local travel and expenses, and conference registration. Original receipts will be required.

  %h3 Selection Process and Rules

  %p
    %h4 Eligibility: 
    Students enrolled in Ph.D. programs in the U.S. are eligible. In the Call for Participation (provide specific link), we have not explicitly excluded the possibility of students who are not presenting papers at ICME2018 to be included in the student event, but the expectation is that all participants will also have papers at ICME2018.

    %h4 Application: 
    Please submit the following documents via CMT in the “Student Program Track” as a single PDF file:
    %ol
      %li An abstract of the student’s thesis (maximum 1 page);
      %li CV (maximum 2 pages), which should include the student’s contact details; and
      %li A support/recommendation letter from the student’s Advisor confirming the student status.

    %h4 Selection: 
    Student applications will be evaluated by the Student Program Co-Chairs to receive the travel support based on the expected benefit to the student, the quality of the student’s work, the advisor’s supporting letter, publication record and other accomplishments, the progress or status of the student’s dissertation work, and the diversity in student participants (e.g., students from different regions, underrepresented groups, smaller schools or schools with less established multimedia research). Students with a first-authored paper accepted at the main conference will have the priority.

    %h4 Rules: 
    %p The selected 10 U.S.-based PhD students would be required to present in the 3MT competition. After the 3MT Competition, they would attend the Student-Industry Luncheon and discuss their work with their mentors. Mentors will provide written feedback, and both the mentors and the students will fill out a short survey.

    %p Based on the NSF policy, if a student uses any part of $1,500 for airfare, the student will need to use U.S. carriers (i.e., if the flight is shared among airlines, they will need to book the flight through the U.S. airline). Please keep all the receipts.

    %p (Note: All applicants selected for the NSF Travel Support will automatically be registered for the Three Minute Thesis (3MT) competition and the luncheon as well, so there is no need to submit separate applications.)