%div{class: 'col-xs-12'}
  %h1 Call for Panels

  %p Proposals are solicited for panels of 90 minutes duration. Proposers should organize the panel so that the panelists have high interaction with the attendees. To this end, at least half the panel duration should be spent in interaction with the audience managed by a panel moderator. No more than 4 panelists (beyond the moderator) should be considered.

  %p
    Panel proposals should include:
    %ul

      %li Panel Title
      %li Panel Moderator (name, affiliation, contacts and Web page)
      %li Panelists (name, affiliation, contacts and Web page)
      %li Panel Motivation and Relevance
      %li Panel Outline (including topics to be covered)
      %li Short Biography of Panel Moderator and Panelists (with emphasis on panel topic related achievements)
      %li Participation in Previous Panels by the Panelists

  %p The proposals should be of not more than 4 pages in double-spaced, single-column format.

  = render 'deadline', target: :panel
  = render 'chairs', target: :panel