
%h1 Call for Papers

%p 
  Authors are invited to submit a full paper (two-column format, 6 pages maximum). Reviewing will be double blind. Only electronic submissions will be accepted. Please use
  %a{href: 'https://cmt3.research.microsoft.com/User/Login?ReturnUrl=%2FICME2018', target: '_cmt'} this link
  for submission and 
  %a{href: '/author_info'} this submission guidelines.
  Topics of interest include, but are not limited to:
%ul
  %li Big multimedia data design and creation
  %li Deep learning for multimedia
  %li Multimedia search and recommendation
  %li Multimedia content analytics
  %li Social and cloud-based multimedia
  %li 3D multimedia and AR/VR
  %li Multimedia quality assessment and metrics
  %li Multi-modal media computing and human-machine interaction
  %li Multimedia communications, networking and mobility
  %li Multimedia security, privacy and forensics
  %li Multimedia software, hardware and application systems
  %li Multimedia standards, trends and related issues

= render 'deadline', target: [:regular_abstract, :regular_paper, :camera_regular]