
%h1 Call for Presentation of T-MM Papers

%p In order to better serve the multimedia community, IEEE Transactions on Multimedia (T-MM) is collaborating with IEEE International Conference on Multimedia and Expo (ICME) to promote papers published in T-MM. Authors of T-MM papers will be given the opportunity to present their work at ICME 2018, which will be held in San Diego.


%p All T-MM papers published on or after January 1, 2017 and manuscripts accepted on or before April 15, 2018 are eligible for presentation at ICME 2018. The presentation will be subject to space availability and approval by the ICME Technical Program Chairs. In addition, the T-MM paper should not be an extended version of a previous ICME paper.

%p Since the T-MM papers have already been peer-reviewed, they will not be subject to further review. They will be reprinted in the ICME proceedings, but will not appear redundantly in Xplore.

%p 
	Requests for presentation of T-MM papers at ICME 2018 should be made through an online submission under the "T-MM Papers" track of the
	%a{href: "https://cmt3.research.microsoft.com/ICME2018W"} CMT site
	on or before May 11, 2018. Approval notifications will be issued no later than May 31, 2018.

%p 
	Each request must include the following Information about the T-MM paper:
	%ul
		%li Title
		%li Complete Author List
		%li Abstract
		%li T-MM Volume, Issue and Page Numbers (if any)
		%li DOI Number or URL to IEEE Xplore Page (if any)

%p All approved requests for presentation must have one author register for the conference according to the ICME 2018 registration policy, and the papers must be presented by the authors at the conference.

= render 'deadline', target: [:t_mm]