
%h1 Call for Presentation of T-MM Papers

%p 
  In order to better serve the multimedia community, IEEE Transactions on Multimedia (T-MM) is collaborating with IEEE International Conference on Multimedia and Expo (ICME) to promote papers published in T-MM. Authors of T-MM papers will be given the opportunity to present their work at ICME 2018, which will be held in San Diego. The presentation will be subject to space availability and approval by the ICME Technical Program Chairs. Additionally, the T-MM paper should not be an extended version of a previous ICME paper.

%p Since the T-MM papers have already been peer-reviewed, they will not be subject to further review. They will be reprinted in the ICME proceedings, but will not appear redundantly in Xplore.

%p ICME 2018 aims to have high quality oral and poster presentations. Several awards sponsored by industry and institutions will be given out. Best papers will be presented in a single‐track session to all participants. Accepted papers should be presented, or else they will not be included in the IEEE Xplore Library.

%p 
  Requests for presentation of T-MM papers at ICME 2018 should be made through an online submission under the "T MM track" of the 
  %a{href: 'https://cmt3.research.microsoft.com/User/Login', target: '_cmt'}CMT 
  site.
