
%h1 Registration

%h3 Paper Registration for Main Conference/Workshop/Demo/Grand Challenge
%ol
	%li 
		%strong Author Registration Policy. 
		Each accepted main conference paper, workshop paper, demo paper, industry track paper, or grand challenge paper, must have at least one author registered according to the following policy at a non-student and non-life-member rate by 
		%strong= DateHelper::get_deadline spec: :author_reg
		\, in order for the paper to be included in the electronic copy of conference and workshop proceedings distributed at the conference, and in the online conference or workshop proceedings in IEEE Xplorer database.

		%ul
			%li
				Each non-student and non-life-member Conference Registration can cover up to TWO papers of any kind (i.e., main conference papers, workshop papers, demo papers, industry track papers, grand challenge papers, or T-MM papers presentations) from the same author. For example, one such Conference Registration can cover: 2 main conference papers; or 1 main conference paper and 1 demo paper; or 2 workshop papers; or 1 grand challenge paper and 1 workshop paper; etc. Note that a demo paper associated with a regular paper from the same author will be considered to be already covered by the corresponding accepted paper.
			%li 
				Each non-student and non-life-member Workshop-Only Registration can cover only ONE workshop paper from the same author.
	%li
		%strong Author No Show Policy. 
		One of the co-authors of an accepted paper/demo must report to the session chair before the respective session starts according to the schedule published, and present the paper/demo in person at the conference/workshops site. Under extraordinary unplanned circumstances, a qualified substitute may present on the authors’ behalf, with the technical program chairs’ permission. Any paper accepted into the technical program, but not presented on-site will be automatically withdrawn from the conference/workshops and the proceedings. IEEE further reserves the right to exclude a paper from distribution after the conference (e.g. removal from IEEE Xplore) if the paper is not presented at the conference.

	%li
		%strong 
			If you have any questions regarding registration, please contact 
			= mail_to 'icmereg@ieee.org'