%div{class: 'col-xs-12'}
  %h1 Schedule
  %table{class: 'table table-hover'}
    %thead
      %tr
        %th{class: 'col-xs-6 text-center'} Event
        %th{class: 'col-xs-3 text-center'} Deadline
        %th{class: 'col-xs-3 text-center'} Notification of Acceptance
    %tbody
      %tr
        %td Special Session Proposals 
        %td October 2, 2017
        %td October 16, 2017
      %tr
        %td Workshop/Panel/Tutorial Proposals Due:
        %td October 23, 2017
        %td November 6, 2017
      %tr
        %td Regular Paper Abstract
        %td November 24, 2017
        %td -
      %tr
        %td Regular Paper Submission
        %td December 1, 2017
        %td March 12, 2018
      %tr
        %td Workshop & Demo Paper
        %td March 19, 2018
        %td April 23, 2018
      %tr
        %td Camera-Ready Regular Paper
        %td April 13, 2018
        %td May 11, 2018
