
%h1 Social Events

%b ICME 2018 Reception
%br 
Time: 17:00 - 20:00, Monday, July 23th, 2018
%br 
Location: Asteria Terrace, Conference Hotel
%hr
%b ICME 2018 Student Career Dinner
%br 
Time:19:40 - 22:00, Tuesday, July 24th, 2018
%br
Location: Asteria Terrace, Conference Hotel
%hr
%b ICME 2018 Banquet
%br
Time:19:00 - 22:00, Wednesday, July 25th, 2018
%br
Location: Conference Hotel (Hyatt Regency), Aventine Ballroom