
%h1 Call for Special Session

%p Special Sessions supplement the regular program of ICME 2018 and are intended to provide a sample of the state-of-the-art and highlight important research directions in a field of special interest to ICME participants. Each Special Session should be a focused effort rather than defined broadly.

%h3 Special Session Requirements

%p 
  The target for each Special Session is 5 accepted papers. The following information should be included in the proposal:
  %ul
    %li Title of the proposed special session.
    %li Names and affiliations of the organizers (including brief bio and contact info).
    %li Session abstract (state the motivation and significance of the topic, and the rationale for the proposed session).
    %li List of invited papers (including a tentative title, author list and a 300-words abstract for each paper).

%p In addition to invited papers, other potential authors will be allowed to submit papers to Special Sessions. All papers will go through the same review process as the regular papers submitted to the main conference to ensure that the contributions are of high quality. If a special session has more than 5 papers being accepted, some of the papers will be moved to the regular paper sessions of the conference.

%p Proposals will be evaluated based on the timeliness of the topic and relevance to ICME, as well as the track record of the organizers and anticipated quality of papers in the proposed session. When considering submitting a Special Session proposal, please bear in mind that Special Sessions are expected to be oral sessions, and ICME accepts only the top 15% of submitted papers for oral presentation. Therefore, only those proposals that have the potential to attract the highest quality papers are likely to be approved. Once the proposal has been approved, the organizer(s) and the Special Session co-chairs will arrange the review process. 

= render 'deadline', target: :special_session
= render 'chairs', target: :special_session