%div{class: 'col-xs-12'}
  %h1 Call for Sponsorship


  %p The Organizing Committee for the 2018 IEEE International Conference on Multimedia & Expo (ICME 2018) cordially invites you to participate as a sponsor and/or exhibitor at the conference to be held in San Diego, California, USA. You will have the unique opportunity to promote your company and market your brand to influential stakeholders in the multimedia community.

  %p Since 2000, ICME has been the flagship multimedia conference sponsored by four IEEE societies, with about 500 participants. It serves as a forum to promote the exchange of the latest advances in multimedia technologies, systems, and applications from both the research and development perspectives of the circuits and systems, communications, computer, and signal processing communities. In 2018, an Exposition of multimedia products, prototypes and animations will be held in conjunction with the conference.

  %p Sponsor participation at ICME 2018 will give your organization a unique opportunity to increase visibility, promote your brand and showcase the latest advances of your research to an interested, highly qualified and international audience from a wide range of backgrounds, expertise and influence.

  %p ICME 2018 welcomes all forms of support from industry and research institutions. It offers a variety of options for sponsor participation, which include different levels of sponsorship, contribution to grants, awards and events, as well as special options tailored to the sponsor’s specific interests. The sponsorship program includes benefits such as printing the company’s logo on the webpage, conference handbook and proceedings, and the opportunity to distribute brochures and/or other materials to delegates.

  %p We look forward to welcoming you to San Diego and encourage you to explore the benefits of participating as a sponsor and/or exhibitor and secure your preferred options.


  %h3 General Sponsorship Program

  %h4 Platinum Level ($6000 and above)
  %ul
    %li 3 free registrations
    %li 3 banquet tickets
    %li Special recognition during banquet and other ceremonies
    %li Logo on http://www.icme2018.org with link to sponsor company website
    %li Logo on conference handbook and proceedings
    %li Company 1-page flyer in conference bag
    %li Company exhibition table during the conference
    %li Participation in students’ luncheon

  %h4 Gold Level ($4500)
  %ul 
    %li 2 free registration
    %li 2 banquet tickets
    %li Special recognition during banquet and other ceremonies
    %li 
      Logo on 
      %a{href: 'http://www.icme2018.org'} http://www.icme2018.org 
      with link to sponsor company website
    %li Logo on conference handbook and proceedings
    %li Participation in students’ luncheon
    %li Company exhibition table during the conference
    %li Participation in students’ luncheon

  %h4 Silver Level ($3000)
  %ul
    %li 1 free registration
    %li 1 banquet ticket
    %li Special recognition during banquet and other ceremonies
    %li 
      Logo on 
      %a{href: 'http://www.icme2018.org'} http://www.icme2018.org 
      with link to sponsor company website
    %li Logo on conference handbook and proceedings

  %h4 Bronze Level ($1500)
  %ul
    %li 1 free registration
    %li 
      Logo on 
      %a{href: 'http://www.icme2018.org'} http://www.icme2018.org 
      with link to sponsor company website
    %li Logo on conference handbook and proceedings

 

  %h3 Sponsorship Opportunities

  %h4 Exhibition Opportunities ($1500)
  %ul 
    %li Company exhibition table during the conference
    %li Company name in the exhibitors list on conference website

  %h4 Industry Partner in the Students’ Luncheon ($1500)
  %ul
    %li Provide industry partners with the opportunity to network with students during the conference and advertise job openings and internships. Industry partners will receive the CVs of the applicants in advance, and will be able to introduce the company to the students and conduct on-site interviews during the event.

  %h4 Sponsorship of Awards, Events, or Gifts ($1000 each, logo on conference website)
  %ul
    %li Best Paper Award
    %li Best Student Paper Award
    %li Best Industry Paper Award
    %li Best Application Paper Award
    %li Conference Banquet
    %li Welcome Reception
    %li Social Program
    %li Coffee Breaks
    %li Registration Gifts, e.g. branded company notebooks, pens, USB disks.
