
%h1 Call for Student Participation

%p 
  The Organizing Committee of the IEEE International Conference on Multimedia and Expo (ICME) 2018 is pleased to announce the following student-centered events that will take place on July 24, 2018 during the conference:
  %ol
    %li Three Minute Thesis (3MT) competition
    %li Student Career Dinner

%p
  Both events are free to graduate students who have registered for the main conference or workshops. The events are free to students joining from local universities from the Southern California region. We expect to have over 100 student participants, and most of the students will be senior PhDs or at Master level that are looking for a job very soon.

%p
  The 3MT is an interesting yet challenging way to present a graduate research thesis to a general audience in just three minutes using a single PowerPoint slide. 3MT was first established at the University of Queensland in 2008 and has since been held at many universities around the world. For further information please visit
  %a{href: 'http://threeminutethesis.org'} http://threeminutethesis.org

%p 
  The Student Career Dinner provides a venue for students to meet and interact with industry partners and explore future collaboration or possible employment prospects. A buffet will be served at the dinner, which will take place in the expo area. We will invite companies to join the event, and introduce their company and available job opportunities to the student participants, as well as facilitate meet and chat with them.

%p 
  To participate in the 3MT and Student Career Dinner, please submit the following documents via 
  %a{href: 'https://cmt3.research.microsoft.com/User/Login', target: '_cmt'}CMT 
  in the “Student Program Track” as a single PDF file:
  %ol
    %li Your CV (maximum 2 pages), which should include your contact details
    %li A letter from your Advisor confirming your student status
    %li Only if participating in 3MT Competition &mdash; An abstract of your thesis (maximum 1 page)

%p
  Awards will be given to the best 3MT presentations at ICME 2018 during the Student Career Dinner event.
  
%p
  %h3 Registration Steps
  %ol
    %li Login into the CMT system
    %li In the "Conference List" page, choose All conference, then find and choose the Workshop of ICME
    %li In the Author Console, click new submission and choose Student Program 
    %li Fill in the Title, abstract and upload CV and the Advisor letter. 
    %li After submitting, Click OK in the page for conflicts domain.

%p
  The CVs of the participants will be made available to the industry partners in order to facilitate interaction and networking during the Student Career Dinner event.



= render 'deadline', target: [:student_career_dinner]
= render 'chairs', target: :student_career_dinner

