
%h1 Call for Student Participation

%p 
  The Organizing Committee of the IEEE International Conference on Multimedia and Expo (ICME) 2018 is pleased to announce the following student-centered events that will take place during the conference:
  %ol
    %li Student-Industry Luncheon
    %li Three Minute Thesis (3MT) competition

%p
  Both events are free to graduate students who have registered for the main conference or workshops. The luncheon provides a venue for students to meet and interact with industry partners and explore future collaboration or possible employment prospects. To participate in the luncheon, please submit the following documents via 
  %a{href: 'https://cmt3.research.microsoft.com/User/Login', target: '_cmt'}CMT 
  in the “Student Program Track” as a single PDF file:
  %ol
    %li Your CV (maximum 2 pages), which should include your contact details
    %li A letter from your Advisor confirming your student status

%p
  The CVs of the participants will be made available to the industry partners in order to facilitate interaction and networking during the luncheon.

%p 
  The 3MT is an interesting yet challenging way to present a graduate research thesis to a general audience in just three minutes using a single PowerPoint slide. 3MT was first established at the University of Queensland in 2008 and has since been held at many universities around the world. For further information please visit 
  %a{href: 'http://threeminutethesis.org'} http://threeminutethesis.org

%p
  Awards will be given to the best 3MT presentations at ICME 2018. To participate in the 3MT competition, please submit the following documents via 
  %a{href: 'https://cmt3.research.microsoft.com/User/Login', target: '_cmt'}CMT 
  in the “Student Program Track” as a single PDF file:
  %ol
    %li An abstract of your thesis (maximum 1 page)
    %li Your CV (maximum 2 pages), which should include your contact details
    %li A letter from your Advisor confirming your student status

%p Note: all applicants to the 3MT competition will automatically be registered for the luncheon as well, so there is no need to submit separate applications. 