%h1 Student Dinner Industry Sponsors

%p
	To enhance the experience of student participants, we will organize a Student Career Dinner on the evening of 
	%b Tuesday July 24 th 2018. 
	We will invite companies to join the event, where you may introduce your company and available job opportunities to the student participants, as well as meet and chat with them. We expect to have over 100 student participants, who will be either attending the ICME conference or joining from local universities from the Southern California region. Most of the students will be senior PhDs or at Master level that are looking for a job very soon.

%p The student participants will be sending us their resumes which we will distribute to the company representatives attending the event in the expo area. Each company will be able present summaries of their work to the students. After that, you are then free to chat with them.

%p 
	A buffet will be served at the dinner, which will take place in the expo area. If your company is looking for fresh graduates (likely PhDs), 
	%b please send an email with the registration form filled to one of the session chairs below before July 20. 
	We will then send your job descriptions to all the student participants and send you the available resumes.

= render 'deadline', target: [:student_dinner_sponsor], alt_title: 'Registration Deadline'
= render 'chairs', target: :student_career_dinner

%h3 Registration Form
%table{class: 'table table-striped table-bordered'}
	%tr
		%td{class: 'col-xs-6'} Company Name
		%td{class: 'col-xs-6'}
	%tr
		%td{colspan: 2, class: 'text-center'} Contact Information
	%tr
		%td Name
		%td
	%tr
		%td Phone
		%td
	%tr
		%td Email
		%td
