
%h1 San Diego Transportation

%b MTS (San Diego Metropolitan Transit System)
%p Public transit is available to and from the airport and downtown San Diego on MTS’s Route 992 which stops at Terminals 1 and 2 and the Commuter Terminal. It operates 5 a.m.–11 p.m. daily, with service every 15 minutes on weekdays and every 30 minutes on weekends. The bus connects with the San Diego Trolley, Coaster and Amtrak Station and is wheelchair accessible.

%b San Diego Trolley
%p 
	Delegates can’t miss MTS’s bright red trolley cars that crisscross San Diego’s downtown and beyond. The San Diego Trolley provides convenient service from the San Diego Convention Center to various points downtown and on to Old Town and Mission Valley. Express trolleys serve Petco Park and Qualcomm Stadium on event days.

%p
	%a{href: "#{asset_path('trolley_map.pdf')}", target: '_trolley_map'} 
		Trolley Map
		%span{class: 'glyphicon glyphicon-new-window'}

%b Trains
%p The historic Santa Fe Depot is located in downtown San Diego, within walking distance to the San Diego Embarcadero and the heart of downtown. It offers service for Amtrak and the North County Coaster. The North County Coaster provides train service linking downtown San Diego and Old Town to the region’s coastal communities including Encinitas, Solana Beach, Carlsbad and Oceanside. Amtrak’s Pacific Surfliner runs along the Southern California coastline serving key locations like Anaheim, Los Angeles and Santa Barbara with two stops in San Diego. Both trains offer relaxing and convenient ways to enjoy the California coastline in all its glory.

%b Rideshare
%p In addition to traditional taxi service, several app-based car services are available in San Diego.
