%div{class: 'col-xs-12'}
  %h1 Call for Tutorials
  %p 
    The ICME 2018 organizing committee invites proposals for tutorials. We welcome half-day (about 3 hours each) tutorials on established or emerging topics of interest, including (but not limited to):

    %ul
      %li Big multimedia data design and creation
      %li Deep learning for multimedia
      %li Multimedia search and recommendation
      %li Multimedia content analytics
      %li Social and cloud-based multimedia
      %li 3D multimedia and AR/VR
      %li Multimedia quality assessment and metrics
      %li Multi-modal media computing and human-machine interaction
      %li Multimedia communications, networking and mobility
      %li Multimedia security, privacy and forensics
      %li Multimedia software, hardware and application systems
      %li Multimedia standards, trends and related issues

  %h2 Proposal Format

  %p
    Tutorial proposals should be in PDF format and include the following information:

    %ul
      %li Title of the Tutorial
      %li Names and Affiliations of the Instructors
      %li Area and Keywords of the Tutorial (refer to the above list of topics)
      %li 300-word Abstract (for publicity and registration purposes)
      %li Full Description of the Tutorial (no more than 4 pages, including the learning objectives, tutorial outline, detailed modules, target audience, prerequisite knowledge required, importance and relevance of the tutorial, etc.)
      %li CV’s for the Instructors (no more than 4 pages each, including publications relevant to the proposed tutorial and list of tutorials given before in other conferences/workshops)

  = render 'deadline', target: :tutorial
  = render 'chairs', target: :tutorial
