%div{class: 'col-xs-12'}
  %h1 Tutorials
  %p 
    The ICME 2018 organizing committee invites proposals for tutorials. We welcome half-day (about 3 hours each) tutorials on established or emerging topics of interest, including (but not limited to):

    %ul
      %li Speech, audio, image, video, text and new sensor signal processing
      %li Signal processing for media integration
      %li 3D visualization and animation
      %li 3D imaging and 3DTV
      %li Virtual reality and augmented reality
      %li Multi-modal multimedia computing systems and human-machine interaction
      %li Multimedia communications and networking
      %li Media content analysis
      %li Multimedia quality assessment
      %li Multimedia security and content protection
      %li Multimedia databases and digital libraries
      %li Multimedia applications and services
      %li Multimedia standards and related issues

  %h2 Proposal Format

  %p
    Tutorial proposals should be in PDF format and include the following information:

    %ul
      %li Title of the Tutorial
      %li Names and Affiliations of the Instructors
      %li Area and Keywords of the Tutorial (refer to the above list of topics)
      %li 300-word Abstract (for publicity and registration purposes)
      %li Full Description of the Tutorial (no more than 4 pages, including the learning objectives, tutorial outline, detailed modules, target audience, prerequisite knowledge required, importance and relevance of the tutorial, etc.)
      %li CV’s for the Instructors (no more than 4 pages each, including publications relevant to the proposed tutorial and list of tutorials given before in other conferences/workshops)

  = render 'deadline', target: :tutorial
  = render 'chairs', target: :tutorial
