%div{class: 'col-xs-12'}
  %h1 Venue and Travel

  %p 
    ICME 2018 will be held at 
    %a{href: 'https://lajolla.regency.hyatt.com/en/hotel/home.html', target: '_hotelinfo'} 
      Hyatt Regency La Jolla
      %span{class: 'glyphicon glyphicon-new-window'}
    
  %p
    %a{href: 'https://lajolla.regency.hyatt.com/en/hotel/our-hotel/map-and-directions.html?icamp=propMapDirections', target: '_drivinginfo'} 
      Driving Directions
      %span{class: 'glyphicon glyphicon-new-window'}
  %address
    3777 La Jolla Village Drive
    %br
    San Diego, California, USA, 92122
    %br
    %abbr{title: 'Phone'} Tel: 
    +1 858 552 1234

  %iframe{width:"600", height:"450", frameborder:"0", style:"border:0", id: 'venuemap', src:"https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ7SIZEtQG3IARth8Oo_J80qk&key=AIzaSyDihkX5Aj3nLOS30-IZZqMJq9wromhtxPk", allowfullscreen: true}

:javascript
  layout_helper.adjust_map();