
%h1 Call for Workshops
%p 
  The IEEE International Conference on Multimedia & Expo (ICME) is a flagship multimedia conference sponsored by four IEEE societies since 2000. ICME serves as a premier forum to promote the exchange of the latest advances in multimedia technologies, systems and applications, from both the research and development perspectives of the circuits and systems, communications, computer, and signal processing communities. ICME workshops aim to explore emerging research topics, bridge the multimedia research advances with other research areas, and trigger live discussions among researchers and practitioners. The Workshops will be held in conjunction with ICME 2018 in San Diego.

%p
  We seek proposals from individuals and teams interested in organizing exciting and compelling workshops. A workshop proposal should provide the following information:

  %ol
    %li Title, scope, topics and duration (half or full day) of the workshop
    %li Workshop format (papers, posters, demos, panels, invited speakers, etc.)
    %li 
      Rationale
      %ul
        %li How is the workshop related to ICME;
        %li Why the workshop topic is current and important;
        %li Why the workshop may attract a significant number of submissions of good quality;
        %li Its difference from other workshops and conferences covering similar topics
    %li History of the workshop if any (organizers, where it was held, number of submissions, number of accepted papers, numbers of attendees in past years)
    %li Organizing team and tentative committee lists (organizers, steering committee if any, confirmed TPC members, endorsement by society TCs, etc.).


%p Please include a draft call for papers, if available. Please submit the proposals by email to the two Workshop Chairs.

= render 'deadline', target: [:workshop_proposal, :workshop_paper, :camera_workshop]
= render 'chairs', target: :workshop