body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.anchor-nolink {
  pointer-events: none;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
}

.footer {
  border-top: 1px solid #888;
  color: #888;
  text-align: center;
  font-style: italic;
  margin-top: 2.5em;
}

.navbar {
  border-radius: 0px
}

.parallax {
  background-image: image-url("san_diego.jpg");
  min-height: 288px;
  //background-attachment: fixed;
  background-repeat: no-repeat;
  margin-left: -500px;
  margin-right: -500px;
  margin-top: -24px;
}

.sponsor-logo {
  height: 40px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

#jumbotron-title {
  text-align: center;
}

#main-content {
  margin-top: 5em;
}