body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.anchor-nolink {
  pointer-events: none;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
}

.footer {
  border-top: 1px solid #888;
  color: #888;
  text-align: center;
  font-style: italic;
  margin-top: 2.5em;
}

.navbar {
  border-radius: 0px
}

.parallax {
  background-image: image-url("san_diego.jpg");
  min-height: 288px;
  //background-attachment: fixed;
  background-repeat: no-repeat;
  margin-left: -500px;
  margin-right: -500px;
  margin-top: -24px;
}

.sponsor-logo {
  max-height: 32px;
  max-width: 96px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.oc-photo {
  height: 140px;
  width: 140px;
  border: 1px solid #aaa;
}

.oc-name {
  //font-weight: bold;
  //font-size: 110%;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 4px;
  width: 140px;
}

.oc-cell {
  padding-bottom: 8px;
  padding-top: 8px;
}

.oc-container {
  margin-right: 4px;
  margin-left: 4px;
}

.date-due {
  color: red;
  font-weight: bold
}

#jumbotron-title {
  text-align: center;
}

#main-content {
  margin-top: 5em;
}