body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.anchor-nolink {
  pointer-events: none;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
}

.footer {
  border-top: 1px solid #888;
  color: #888;
  text-align: center;
  font-style: italic;
  margin-top: 2.5em;
}

.navbar {
  border-radius: 0px
}

.parallax {
  background-image: url("/assets/san_diego_night.jpg");
  min-height: 505px;
  //background-attachment: fixed;
  background-repeat: repeat-x;
  margin-left: -500px;
  margin-right: -500px;
  margin-top: -128px;
}

#jumbotron-title {
  text-align: center;
}

#main-content {
  margin-top: 5em;
}